Playing with weather and cyclist data

In [68]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# temperetures from Finnish Meteorological institute
# now just 2018 and 2019. The set 2014 -2019 was too large
temperatures = pd.read_csv('csv-2e095d1c-25fe-44a6-9597-23e9bd2ba4ec.csv')

# cyclist amounts from ...
# check the timefarme
hkicyclists = pd.read_excel('Helsingin_pyorailijamaarat.xlsx')

In [69]:
temperatures.tail()
#temperatures.head()

,Year,m,d,Time,Time zone,Snow depth (cm),Air temperature (degC),Wind direction (deg),Wind speed (m/s)
17516,2019,12,31,20:00,UTC,2.0,-1.0,283.0,3.2
17517,2019,12,31,21:00,UTC,2.0,-1.1,273.0,4.4
17518,2019,12,31,22:00,UTC,0.0,-0.9,279.0,4.0
17519,2019,12,31,23:00,UTC,0.0,-0.7,286.0,3.5
17520,2020,1,1,00:00,UTC,0.0,-0.2,265.0,3.2

In [71]:
# what are the datatypes?
temperatures.info()
#Year, m and d: Int
# Time: str

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Data columns (total 9 columns):
Year                      17521 non-null int64
m                         17521 non-null int64
d                         17521 non-null int64
Time                      17521 non-null object
Time zone                 17521 non-null object
Snow depth (cm)           17449 non-null float64
Air temperature (degC)    17510 non-null float64
Wind direction (deg)      17307 non-null float64
Wind speed (m/s)          17306 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 1.2+ MB

In [72]:
# IS THIS A TOO CLUMSY WAY 
#from int to str
temperatures["Year"] = temperatures["Year"].apply(str)
temperatures["m"] = temperatures["m"].apply(str)
temperatures["d"] = temperatures["d"].apply(str)
# add 0:s in front - is teheer a better way?
temperatures['m'] = np.where(temperatures.m < "10", "0"+temperatures.m, temperatures.m)
temperatures['d'] = np.where(temperatures.d < "10", "0"+temperatures.m, temperatures.m)
# checking, ok temperatures.info() 
# combine
temperatures["date"] = temperatures["Year"]+temperatures["m"]+temperatures["d"]
temperatures.head()

,Year,m,d,Time,Time zone,Snow depth (cm),Air temperature (degC),Wind direction (deg),Wind speed (m/s),date
0,2018,01,001,00:00,UTC,0.0,0.9,152.0,3.3,201801001
1,2018,01,001,01:00,UTC,0.0,0.9,147.0,3.9,201801001
2,2018,01,001,02:00,UTC,0.0,0.5,154.0,3.7,201801001
3,2018,01,001,03:00,UTC,0.0,0.4,155.0,3.9,201801001
4,2018,01,001,04:00,UTC,2.0,0.3,159.0,3.5,201801001

In [62]:
temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849 entries, 0 to 1848
Data columns (total 10 columns):
Year                      1849 non-null object
m                         1849 non-null object
d                         1849 non-null object
Time                      1849 non-null object
Time zone                 1849 non-null object
Snow depth (cm)           1849 non-null int64
Air temperature (degC)    1847 non-null float64
Wind direction (deg)      1845 non-null float64
Wind speed (m/s)          1845 non-null float64
date                      1825 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 144.6+ KB

In [73]:
#NOT NEEDED? because it is already in datetime
#temperatures.date = pd.to_datetime(temperatures.date, format='%Y %m %d', errors='coerce')

In [24]:
#sns.pairplot(temperatures)

In [74]:
temperatures.describe()

,Snow depth (cm),Air temperature (degC),Wind direction (deg),Wind speed (m/s)
count,17449.000000,17510.000000,17307.000000,17306.000000
mean,3.280188,7.415654,193.706015,3.736716
std,8.367536,9.023711,99.864142,1.753109
min,-1.000000,-20.200000,0.000000,0.000000
25%,-1.000000,0.700000,111.000000,2.500000
50%,0.000000,6.600000,209.000000,3.500000
75%,0.000000,15.000000,277.000000,4.800000
max,46.000000,32.900000,360.000000,12.400000

In [5]:
hkicyclists.tail()

,Päivämäärä,Auroransilta,Eteläesplanadi,Huopalahti (asema),Kaisaniemi/Eläintarhanlahti,Kaivokatu,Kulosaaren silta et.,Kulosaaren silta po.,Kuusisaarentie,"Käpylä, Pohjoisbaana",...,Merikannontie,Munkkiniemen silta eteläpuoli,Munkkiniemi silta pohjoispuoli,Heperian puisto/Ooppera,Pitkäsilta itäpuoli,Pitkäsilta länsipuoli,Lauttasaaren silta pohjoispuoli,Ratapihantie,Viikintie,Baana
51115,to 31 loka 2019 19:00,24.0,60.0,47.0,46.0,104.0,12.0,44.0,20.0,0.0,...,76.0,46.0,18.0,110.0,79.0,45.0,0.0,42.0,NaN,111
51116,to 31 loka 2019 20:00,32.0,51.0,34.0,39.0,71.0,14.0,24.0,12.0,0.0,...,47.0,41.0,27.0,90.0,56.0,41.0,0.0,39.0,NaN,82
51117,to 31 loka 2019 21:00,21.0,23.0,19.0,13.0,62.0,7.0,18.0,14.0,0.0,...,37.0,24.0,16.0,68.0,44.0,37.0,0.0,42.0,NaN,74
51118,to 31 loka 2019 22:00,8.0,13.0,8.0,9.0,34.0,3.0,13.0,8.0,0.0,...,13.0,12.0,8.0,26.0,23.0,9.0,0.0,9.0,NaN,33
51119,to 31 loka 2019 23:00,3.0,16.0,5.0,8.0,15.0,1.0,8.0,3.0,0.0,...,1.0,2.0,2.0,16.0,19.0,10.0,0.0,7.0,NaN,16