# Vantaa part of cyclists

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Vantaa_bikers_1 = pd.read_excel('Vantaan_pyorailijamaarat.xlsx')
Vantaa_bikers_2 = pd.read_excel('Vantaan_pyorailijamaarat_2017.xlsx')

In [3]:
Vantaa_bikers_1

,Päivämäärä,Asolanväylä P,Asolanväylä E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,Kaislaranta E,Kuusijärvi P,...,Simonkyläntie P,Simonkyläntie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylästöntie I,Ylästöntie L
0,torstai 1.1.2015 0:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,torstai 1.1.2015 1:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,torstai 1.1.2015 2:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,torstai 1.1.2015 3:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,torstai 1.1.2015 4:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,lauantai 31.12.2016 19:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,lauantai 31.12.2016 20:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,lauantai 31.12.2016 21:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,lauantai 31.12.2016 22:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,lauantai 31.12.2016 23:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
Vantaa_bikers_2

,Päivämäärä,Kielotie länsi,Kuusijärvi,Kytöpuisto,Pellas,Ylästöntie itä,Talvikkitie-Lummetie,Urpiaisentie,Kielotie_ita,Kyytitie
0,2017-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-07-12 01:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-07-12 02:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-07-12 03:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-07-12 04:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12907,2018-12-31 19:00:00,3.0,0.0,3.0,1.0,2.0,1.0,0.0,0.0,1.0
12908,2018-12-31 20:00:00,4.0,1.0,1.0,3.0,2.0,2.0,0.0,3.0,1.0
12909,2018-12-31 21:00:00,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0
12910,2018-12-31 22:00:00,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,1.0
12911,2018-12-31 23:00:00,3.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0

In [6]:
Vantaa_bikers_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17544 entries, 0 to 17543
Data columns (total 25 columns):
Päivämäärä             17544 non-null object
Asolanväylä P          3581 non-null float64
Asolanväylä E          2957 non-null float64
Hakunilantie P         3687 non-null float64
Hakunilantie E         3355 non-null float64
Kyytitie I             4272 non-null float64
Kyytitie L             4272 non-null float64
Kaislaranta P          12606 non-null float64
Kaislaranta E          12371 non-null float64
Kuusijärvi P           1496 non-null float64
Kuusijärvi E           3877 non-null float64
Kytöpuisto P           12381 non-null float64
Kytöpuisto E           12381 non-null float64
Pellas I               2828 non-null float64
Pellas L               2828 non-null float64
Simonkyläntie P        3538 non-null float64
Simonkyläntie E        3538 non-null float64
Solkikuja I            3623 non-null float64
Solkikuja L            3623 non-null float64
Vanha Porvoontie P     3586 non-null float64
Vanha Porvoontie E     3586 non-null float64
Vantaanlaaksontie P    2917 non-null float64
Vantaanlaaksontie E    2917 non-null float64
Ylästöntie I           3247 non-null float64
Ylästöntie L           3247 non-null float64
dtypes: float64(24), object(1)
memory usage: 3.3+ MB

In [7]:
Vantaa_bikers_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12912 entries, 0 to 12911
Data columns (total 10 columns):
Päivämäärä              12912 non-null datetime64[ns]
Kielotie länsi          12910 non-null float64
Kuusijärvi              11855 non-null float64
Kytöpuisto              12862 non-null float64
Pellas                  12886 non-null float64
Ylästöntie itä          12886 non-null float64
Talvikkitie-Lummetie    4653 non-null float64
Urpiaisentie            4677 non-null float64
Kielotie_ita            4653 non-null float64
Kyytitie                4677 non-null float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 1008.9 KB

In [8]:
#
# Vantaa_bikers_1
#
# rename columns' column names, change ä -> a and ö -> o
Vantaa_bikers_1 = Vantaa_bikers_1.rename({'Päivämäärä': 'Date_tmp', 'Asolanväylä P': 'Asolanvayla P', 'Asolanväylä E': 'Asolanvayla E'}, axis=1)
Vantaa_bikers_1 = Vantaa_bikers_1.rename({'Kuusijärvi P': 'Kuusijarvi P', 'Kuusijärvi E': 'Kuusijarvi E', 'Kytöpuisto P': 'Kytopuisto P', 'Ylästöntie I':'Ylastontie I'}, axis=1)
Vantaa_bikers_1 = Vantaa_bikers_1.rename({'Ylästöntie L': 'Ylastontie L', 'Simonkyläntie P':'Simonkylantie P', 'Simonkyläntie E':'Simonkylantie E'}, axis=1)
#
# replace finnish word with english words due to datetime convertion
#
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('maanantai', 'Mon')
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('tiistai', 'Tue')
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('keskiviikko', 'Wed')
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('torstai', 'Thu')
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('perjantai', 'Fri')
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('lauantai', 'Sat')
Vantaa_bikers_1['Date_tmp'] = Vantaa_bikers_1.Date_tmp.str.replace('sunnuntai', 'Sun')
#
# here is weekday and datetime split to each own columns
#
weekday = Vantaa_bikers_1["Date_tmp"].str.split(" ", n = 1, expand = True)
Vantaa_bikers_1.insert(0, 'Weekday', weekday[0])
Vantaa_bikers_1.insert(1, 'Date', weekday[1])
Vantaa_bikers_1 = Vantaa_bikers_1.drop(['Date_tmp'], axis=1)
# Change date and time to datetime type
Vantaa_bikers_1.Date = pd.to_datetime(Vantaa_bikers_1.Date, format='%d.%m.%Y %H:%M', errors='coerce')
# split date and time to two different columns, this command change value to string
Vantaa_bikers_1.insert(2, 'Time', Vantaa_bikers_1.Date.dt.strftime('%H:%M:%S'))
Vantaa_bikers_1.Date = Vantaa_bikers_1.Date.dt.strftime('%Y-%m-%d')
# change date back datetime -value
Vantaa_bikers_1.Date = pd.to_datetime(Vantaa_bikers_1.Date, format='%Y-%m-%d', errors='coerce')
# print put result
Vantaa_bikers_1

,Weekday,Date,Time,Asolanvayla P,Asolanvayla E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,...,Simonkylantie P,Simonkylantie E,Solkikuja I,Solkikuja L,Vanha Porvoontie P,Vanha Porvoontie E,Vantaanlaaksontie P,Vantaanlaaksontie E,Ylastontie I,Ylastontie L
0,Thu,2015-01-01,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu,2015-01-01,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu,2015-01-01,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu,2015-01-01,03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu,2015-01-01,04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,Sat,2016-12-31,19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17540,Sat,2016-12-31,20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17541,Sat,2016-12-31,21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17542,Sat,2016-12-31,22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17543,Sat,2016-12-31,23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#
# Vantaa_bikers_2
#
# rename columns' column names, change ä -> a and ö -> o
Vantaa_bikers_2 = Vantaa_bikers_2.rename({'Päivämäärä': 'Date', 'Kielotie länsi': 'Kielotie lansi', 'Kuusijärvi': 'Kuusijarvi'}, axis=1)
Vantaa_bikers_2 = Vantaa_bikers_2.rename({'Kuusijärvi': 'Kuusijarvi', 'Kytöpuisto': 'Kytopuisto', 'Ylästöntie itä':'Ylastontie ita'}, axis=1)

# split date and time to two different columns, this command change value to string
Vantaa_bikers_2.insert(1, 'Time', Vantaa_bikers_2.Date.dt.strftime('%H:%M:%S'))
Vantaa_bikers_2.Date = Vantaa_bikers_2.Date.dt.strftime('%Y-%m-%d')

# change date back datetime -value
Vantaa_bikers_2.Date = pd.to_datetime(Vantaa_bikers_2.Date, format='%Y-%m-%d', errors='coerce')

#
# add missing weekdays to dataset
#
Vantaa_bikers_2.insert(0, 'Weekday', Vantaa_bikers_2.Date.dt.day_name())
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Monday', 'Mon')
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Tuesday', 'Tue')
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Wednesday', 'Wed')
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Thursday', 'Thu')
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Friday', 'Fri')
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Saturday', 'Sat')
Vantaa_bikers_2['Weekday'] = Vantaa_bikers_2.Weekday.str.replace('Sunday', 'Sun')
Vantaa_bikers_2

,Weekday,Date,Time,Kielotie lansi,Kuusijarvi,Kytopuisto,Pellas,Ylastontie ita,Talvikkitie-Lummetie,Urpiaisentie,Kielotie_ita,Kyytitie
0,Wed,2017-07-12,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed,2017-07-12,01:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wed,2017-07-12,02:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wed,2017-07-12,03:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wed,2017-07-12,04:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12907,Mon,2018-12-31,19:00:00,3.0,0.0,3.0,1.0,2.0,1.0,0.0,0.0,1.0
12908,Mon,2018-12-31,20:00:00,4.0,1.0,1.0,3.0,2.0,2.0,0.0,3.0,1.0
12909,Mon,2018-12-31,21:00:00,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0
12910,Mon,2018-12-31,22:00:00,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,1.0
12911,Mon,2018-12-31,23:00:00,3.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0

In [10]:
Vantaa_bikers_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17544 entries, 0 to 17543
Data columns (total 27 columns):
Weekday                17544 non-null object
Date                   17544 non-null datetime64[ns]
Time                   17544 non-null object
Asolanvayla P          3581 non-null float64
Asolanvayla E          2957 non-null float64
Hakunilantie P         3687 non-null float64
Hakunilantie E         3355 non-null float64
Kyytitie I             4272 non-null float64
Kyytitie L             4272 non-null float64
Kaislaranta P          12606 non-null float64
Kaislaranta E          12371 non-null float64
Kuusijarvi P           1496 non-null float64
Kuusijarvi E           3877 non-null float64
Kytopuisto P           12381 non-null float64
Kytöpuisto E           12381 non-null float64
Pellas I               2828 non-null float64
Pellas L               2828 non-null float64
Simonkylantie P        3538 non-null float64
Simonkylantie E        3538 non-null float64
Solkikuja I            3623 non-null float64
Solkikuja L            3623 non-null float64
Vanha Porvoontie P     3586 non-null float64
Vanha Porvoontie E     3586 non-null float64
Vantaanlaaksontie P    2917 non-null float64
Vantaanlaaksontie E    2917 non-null float64
Ylastontie I           3247 non-null float64
Ylastontie L           3247 non-null float64
dtypes: datetime64[ns](1), float64(24), object(2)
memory usage: 3.6+ MB

In [11]:
Vantaa_bikers_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12912 entries, 0 to 12911
Data columns (total 12 columns):
Weekday                 12912 non-null object
Date                    12912 non-null datetime64[ns]
Time                    12912 non-null object
Kielotie lansi          12910 non-null float64
Kuusijarvi              11855 non-null float64
Kytopuisto              12862 non-null float64
Pellas                  12886 non-null float64
Ylastontie ita          12886 non-null float64
Talvikkitie-Lummetie    4653 non-null float64
Urpiaisentie            4677 non-null float64
Kielotie_ita            4653 non-null float64
Kyytitie                4677 non-null float64
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 1.2+ MB

In [12]:
# lets merge case_new and case_death
DataFrames = [Vantaa_bikers_1, Vantaa_bikers_2]
Vantaa_bikers_all = pd.concat(DataFrames, ignore_index=True, sort=False)
Vantaa_bikers_all

,Weekday,Date,Time,Asolanvayla P,Asolanvayla E,Hakunilantie P,Hakunilantie E,Kyytitie I,Kyytitie L,Kaislaranta P,...,Ylastontie L,Kielotie lansi,Kuusijarvi,Kytopuisto,Pellas,Ylastontie ita,Talvikkitie-Lummetie,Urpiaisentie,Kielotie_ita,Kyytitie
0,Thu,2015-01-01,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu,2015-01-01,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu,2015-01-01,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu,2015-01-01,03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu,2015-01-01,04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30451,Mon,2018-12-31,19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,0.0,3.0,1.0,2.0,1.0,0.0,0.0,1.0
30452,Mon,2018-12-31,20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,1.0,1.0,3.0,2.0,2.0,0.0,3.0,1.0
30453,Mon,2018-12-31,21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0
30454,Mon,2018-12-31,22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,1.0
30455,Mon,2018-12-31,23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0

In [13]:
Vantaa_bikers_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30456 entries, 0 to 30455
Data columns (total 36 columns):
Weekday                 30456 non-null object
Date                    30456 non-null datetime64[ns]
Time                    30456 non-null object
Asolanvayla P           3581 non-null float64
Asolanvayla E           2957 non-null float64
Hakunilantie P          3687 non-null float64
Hakunilantie E          3355 non-null float64
Kyytitie I              4272 non-null float64
Kyytitie L              4272 non-null float64
Kaislaranta P           12606 non-null float64
Kaislaranta E           12371 non-null float64
Kuusijarvi P            1496 non-null float64
Kuusijarvi E            3877 non-null float64
Kytopuisto P            12381 non-null float64
Kytöpuisto E            12381 non-null float64
Pellas I                2828 non-null float64
Pellas L                2828 non-null float64
Simonkylantie P         3538 non-null float64
Simonkylantie E         3538 non-null float64
Solkikuja I             3623 non-null float64
Solkikuja L             3623 non-null float64
Vanha Porvoontie P      3586 non-null float64
Vanha Porvoontie E      3586 non-null float64
Vantaanlaaksontie P     2917 non-null float64
Vantaanlaaksontie E     2917 non-null float64
Ylastontie I            3247 non-null float64
Ylastontie L            3247 non-null float64
Kielotie lansi          12910 non-null float64
Kuusijarvi              11855 non-null float64
Kytopuisto              12862 non-null float64
Pellas                  12886 non-null float64
Ylastontie ita          12886 non-null float64
Talvikkitie-Lummetie    4653 non-null float64
Urpiaisentie            4677 non-null float64
Kielotie_ita            4653 non-null float64
Kyytitie                4677 non-null float64
dtypes: datetime64[ns](1), float64(33), object(2)
memory usage: 8.4+ MB

### write cleaned data into excel csv file

In [14]:
# Vantaa_bikers_all.to_csv(r'C:\Users\katar\Documents\Tyovoimakoulutus\Python_FEC_2020\FinalProject\CityBikes\VantaaBikers_cleanDataset.csv', index = False)